/* main 1890 stylesheet */
@import 'colors';
@import 'normalize';
@import 'reset';
@import 'mixins';

header nav.admin {
  background-image: none;
  h1 {
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 17px;
  }
  li {
    width: auto;
    padding: 0 10px;
  }
  li.first {
    padding-left: 0;
  }
}

#dashboard {
  .content {
    width: 742px;
  }
  section {
    width: 48%;
    float: left;
  }
}
.sinatra_env {
  padding: 20px;
  ul {
    margin-left: 20px;
  }
  li.odd {
    background-color: #eee;
  }
    
}

#admin_content_blocks {
  .controls {
    text-align: right;
  }
}  

#admin_pictures {
  .controls {
    a.add_new {
      float: left;
    }
    .add_new_form {
      float: left;
      display: none;
      margin-left: 10px;
    }
  }
  .pictures {
    clear:both;
    .picture {
      padding: 10px;
      position:relative;
      width: 200px;
      text-align: center;
      .url {
        input {
          width: 200px;
        }
      }
      .del {
        display:none;
        position: absolute;
        top: 0;
        right: 0;
        z-index:10;
      }
      &:hover .del {
        display: block;
      }
    }
  }
}
    
.admin.main {
  textarea, input {
    padding: 4px;
    @include rounded-corners(4px);
    border: 1px solid $purple_brown;
    background-color: $x_light_gray;
  }
  .errors {
    width : 465px;
    @include rounded-corners(4px);
    border: 1px solid $error;
    font-weight: bold;
    padding: 4px;
    color: $error_text;
  }

  .ctrls {
    padding: 8px 0;
    .cancel, .submit {
      float: left;
      margin-right: 10px;
    }
    @include clearfix;
  }
      
  .content {
    width: auto;
  }
  
  .content_blocks {
    tbody {
      td {
        padding: 5px 10px;
      }
      tr {
        height: 22px;
        border-top: 1px solid $x_light_gray;
        border-bottom: 1px solid $x_light_gray;
        &:hover td.ctrls {
          visibility: visible;
        }
      }
      td.ctrls {
        padding: 0 4px;
        visibility: hidden;
        border: none;
        a {
          img {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .content_block_input {
    padding: 4px 0;
    .help {
      font-style: italic;
      color: $gray;
      padding-left: 10px;
    }
  }
}

  