/** artists page*/
@import 'colors';
@import 'mixins';

/* common */
#artist, #artists {
}
/* index */
#artists {
  .content {
    background-color: $white;
    color: $black;
    .thumb {
      float: left;
      margin: 12px;
      width:100px;
      .name {
        font-weight: bold;
        width: 100px;
        text-align:center;
      }
    }
    
    .img {
      width:100px;
      height: 106px;
      text-align:center;
    }
  }
}

/* individual artist page */
#artist {
  .content {
    background-color: $white;
    color: $black;
  }
  .bio {
    clear:both;
    margin: auto;
    padding: 20px;
    text-align: justify;
  }
  .thumbs {
    .piece { 
      float: left;
      width: 100px;
      margin: 10px;
      text-align:center;
    }
  }
  section {
    margin-bottom: 40px;
    &.art_piece, &.contact {
      display:none;
    }
    &.art_piece {
      .piece {
        text-align: center; 
      }
    }
  }
}