/* define mixin colors
/* colors */
$x_light_green: #DCDC8F;
$light_green: #B7B76F;
$medium_green: #989933;
$white: #fff;
$purple_brown: #6C5861;
$black: #222;
$gray: #777;
$x_light_gray: #f0f0f0;
$error: #f80;
$error_text: #c50;