@import 'colors';
@import 'mixins';
#home {
  .sidebar {
    height: 396px;
    overflow:hidden;
  }
  .welcome {
    margin: 17px;
    @include clearfix;
    @include sidebar_nav_link;
  }
  .content {
    background-color: $medium_green;
    color: $white;
    margin-bottom: 6px;
  }
  .announcement {
    border-left: 1px dotted $x_light_green;
    padding: 0 17px;
    width: 190px;
    float: left;
    h1,h2,h3,h4 {
      margin-top: 0;
      color: $white;
    }

  }
  .about_us {
    border-left: 1px dotted $x_light_green;
    padding: 0 17px;
    width: 190px;
    float: left;
    h1,h2,h3,h4 {
      margin-top: 0;
    }
  }
}
