/* main 1890 stylesheet */
@import 'colors';
@import 'normalize';
@import 'reset';
@import 'mixins';

$full_width: 740px;
$left_column_width: 217px;
$right_column_width: $full_width - $left_column_width;

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-color: $light_green;
}


h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4, h5, h6 {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: $black;
  &:hover, &:active {
    color: $purple_brown;
  }
  &:visited {
    color: $black;
  }
}
.container {
  margin-bottom: 20px;
  .bottom_spacer {
    clear:both;
  }
}
header, .main {
  background-color: $white;
  margin: auto;
  width: $full_width + 18px; /** add padding */
  @include body_copy;
}
footer {
  color: #646;
  width: $full_width + 18px; /** add padding */
  text-align:right;
  font-size: 9px;
  margin: auto auto 20px;
}
header {
  @include clearfix;
  .logo {
    height: 85px;
    overflow:hidden;
    float: left;
    @include left_column;
  }
  nav {
    position:relative;
    background-image: url(/images/bryant-street.gif);
    background-repeat: no-repeat;
    overflow:hidden;
    background-color: $purple_brown;
    color: $white;
    height: 73px;
    margin-top: 6px;
    float:left;
    @include right_column;
    ul {
      position: absolute;
      bottom: 13px;
      left: 7px;
      padding: 0 0 0 10px;
    }
    li {
      float: left;
      width: 58px;
      font-size:12px;
      text-shadow: 1px 1px 1px #333;
      a {
        color: $white;
      }
      a:visited {
        color: $white;
      }
      a:hover, a:active {
        color: $light_green;
      }

    }
  }
}

.main {
  @include clearfix;
  .sidebar {
    @include left_column;
    color: $white;
    overflow:hidden;
    float: left;
    margin-top: 0;
    background-color: $medium_green;
    ul {
      margin:0;
      padding: 0 0 10px 0;
    }
    h3 {
      margin-left: 16px;
      color: $white;
    }
    li {
      border-top: 1px dotted $x_light_green;
      @include sidebar_nav_link;
      a > div {
        font-weight: bold;
        margin: 4px 8px 4px 16px;
      }
    }
  }

  .content {
    background-color: $white;
    color: $black;
    @include clearfix;
    @include right_column;
    float:left;
    min-height: 391px;
    padding-bottom: 0;
    a {
      color: $medium_green;
      &:hover {
        color: #636;
      }
    }
  }
}

@import 'breadcrumb';
@import 'home';
@import 'artists';
@import 'contacts';
