@mixin left_column {
  width: $left_column_width;
  margin: 6px;
  @include rounded-corners(10px);

}

@mixin right_column {
  width: $right_column_width - 12px;
  padding: 6px;
  @include rounded-corners(10px);

}

@mixin sidebar_nav_link {
  a {
    color: $x_light_green;
    &:visited {
      color: $x_light_green;
    }
    &:hover, &:active  {
      color: $white;
    }

  }
}

@mixin rounded-corners($radius:10px) {
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}
@mixin clearfix {

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  display: block;
  zoom: 1;
}
@mixin body_copy {
  font-size: 11px;
  line-height: 18px;
}
