.sidebar
  %h3 Artists
  %ul.artists_list
    - @artists.each do |a|
      %li.artist
        %a{:href => "/artist/#{a.id}"}
          .name #{a.firstname} #{a.lastname}
.content
  = haml :breadcrumb, :layout => false
  %h1 Artists
  .artists
    list of artist thumbs
