.sidebar
  %img{:src => '/images/home-leftimage.jpg'}
.content
  .welcome
    %h1 Welcome
    %p
      = markdown_content(@welcome_message)
    - if @announcement
      .announcement.markdown
        = markdown_content(@announcement)
    .about_us
      %h3 About us
      %p
        Biographies and examples of artists work can be
        %a{:href => '/artists' } viewed here
        = "&raquo;"
      %p
        For more information contact us at
        %br
        %a{:href => "mailto:info@1890bryant.com"} info@1890bryant.com &raquo;
