/*
Syntax error: Undefined mixin 'clearfix'.
        on line 8 of ./scss/breadcrumb.scss, in `clearfix'
        from line 8 of ./scss/breadcrumb.scss

3:     float: left;
4:     margin-right: 5px;
5:   }
6: }
7: .breadcrumb_container {
8:   @include clearfix;
9: }

Backtrace:
./scss/breadcrumb.scss:8:in `clearfix'
./scss/breadcrumb.scss:8
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/engine.rb:299:in `_render'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/engine.rb:246:in `render'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@1890sinatra/gems/sass-3.1.18/lib/sass/../sass/plugin.rb:95:in `force_update_stylesheets'
/projects/mau/1890sinatra/Rakefile:31
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:205:in `call'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:205:in `execute'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:200:in `each'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:200:in `execute'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:158:in `invoke_with_call_chain'
/Users/mau/.rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/monitor.rb:242:in `synchronize'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:151:in `invoke_with_call_chain'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:176:in `invoke_prerequisites'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:174:in `each'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:174:in `invoke_prerequisites'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:157:in `invoke_with_call_chain'
/Users/mau/.rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/monitor.rb:242:in `synchronize'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:151:in `invoke_with_call_chain'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/task.rb:144:in `invoke'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:116:in `invoke_task'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:94:in `top_level'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:94:in `each'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:94:in `top_level'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:133:in `standard_exception_handling'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:88:in `top_level'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:66:in `run'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:133:in `standard_exception_handling'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/lib/rake/application.rb:63:in `run'
/Users/mau/.rvm/gems/ruby-1.9.3-p194@global/gems/rake-0.9.2.2/bin/rake:33
/Users/mau/.rvm/gems/ruby-1.8.7-p334@mau/bin/rake:19:in `load'
/Users/mau/.rvm/gems/ruby-1.8.7-p334@mau/bin/rake:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 8 of ./scss/breadcrumb.scss, in `clearfix'\A         from line 8 of ./scss/breadcrumb.scss\A \A 3:     float: left;\A 4:     margin-right: 5px;\A 5:   }\A 6: }\A 7: .breadcrumb_container {\A 8:   @include clearfix;\A 9: }"; }
