---
http_interactions:
- request:
    method: get
    uri: http://mau.rcode5.com/api/v2/studios/1890-bryant-st-studios.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - check out our Artists!
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"b3acee40aab14828570eb9c6316d013e"'
    body:
      encoding: UTF-8
      string: '{"studio":{"id":1,"name":"1890 Bryant St Studios","street_address":"1890
        Bryant St","city":"San Francisco","map_url":"http://maps.google.com/maps?q=1890%20Bryant%20St,%20San%20Francisco,%20CA,%2094110","url":"/studios/1890-bryant-st-studios","artists":[{"id":2,"slug":"trish","full_name":"Trish
        Tunney","firstname":"Trish","lastname":"Tunney"},{"id":4,"slug":"paulmorin422","full_name":"Paul
        Morin","firstname":"Paul","lastname":"Morin"},{"id":6,"slug":"seanporeda","full_name":"Sean
        Poreda","firstname":"Sean","lastname":"Poreda"},{"id":7,"slug":"cynthiatom","full_name":"Cynthia
        Tom","firstname":"Cynthia","lastname":"Tom"},{"id":9,"slug":"veracosta","full_name":"Vera
        Costa","firstname":"Vera","lastname":"Costa"},{"id":10,"slug":"cmackey","full_name":"catherine
        mackey","firstname":"catheri[...]
- request:
    method: get
    uri: http://mau.rcode5.com/api/v2//artists.json?studio=1890-bryant-st-studios
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - check out our Artists!
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4a00a0933fb7b2191a72287b8ca71194"'
    body:
      encoding: UTF-8
      string: '{"artists":[{"full_name":"Trish Tunney","doing_open_studios":true,"profile_images":{"thumb":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/002/thumb/profile.JPG?1443773392","small":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/002/small/profile.JPG?1443773392","medium":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/002/medium/profile.JPG?1443773392","large":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/002/large/profile.JPG?1443773392","original":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/002/original/profile.JPG?1443773392"},"id":2,"url":"http://www.trishtunney.com","studio_id":1,"street_address":"1890
        Bryant St","city":"San Francisco","map_url":"http://maps.google.com/maps?q=1890%20Bryant%20St,%20San%20Francisco,%20CA,%2094110","firstname":"Trish","lastname":"Tunney","nomdeplume":null,"slug":"trish","art_pieces":[{"id":661},{"id":5177},{"id":670},{"id":5176},{"id":3029},{"id":662},{"id":666},{"id":3},{"id":4},{"id":1591},{"id":5},{"id":663},{"id":664}],"artist_info":{"artist_info":{"addr_state":"CA","artist_id":2,"bio":"Trish
        Tunney is a professional photographer who lives and works in San Francisco.
        She has been voraciously making pictures since she was given her first camera
        in 1979.\n\nTrish received a Masters Degree in Engineering and spent 15 years
        working as a Computer Engineer. When she left her first career to pursue photography
        professionally, her extensive technical background made for a natural progression
        from the wet darkroom to digital photography where she has also become a master
        fine art printer.\n\nHer photography is about shadows and contrast more than
        objects. Because of this, the quality of light is crucial. She seeks out the
        directional light of early day or early evening where colors, both light and
        dark, are at their most exaggerated. She is drawn to bits of urban decay and
        endeavors to reveal the beauty that may be overlooked by the casual viewer.
        She has a \"found object\" aesthetic to her work where she will not manipulate
        the scene she is photographing either before or after the capture.\n\nTrish
        has enjoyed success and notoriety as both a fine art and a commercial photographer.
        You may see her work in numerous galleries around the San Francisco Bay Area
        and she has private collectors worldwide.","blog":"trishtunney.blogspot.com","city":"San
        Francisco","created_at":"2009-12-08T23:50:24-08:00","facebook":"www.facebook.com/trishtunney","flickr":"","id":2,"instagram":null,"lat":37.7486,"lng":-122.418,"max_pieces":20,"myspace":"","news":null,"open_studios_participation":"201210|201310|201110|201010|201104|201304|201204|201004|201404|201410|201504|201511","pinterest":null,"street":"","studionumber":"311","twitter":"www.twitter.com/trishtunney","updated_at":"2015-10-24T09:56:02-07:00","zip":94110}}},{"full_name":"Paul
        Morin","doing_open_studios":true,"profile_images":{"thumb":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/004/thumb/profile.jpg?1443773397","small":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/004/small/profile.jpg?1443773397","medium":"http://mission-artists-acceptance.s3.amazonaws.com/artists/photos/000/000/004/medium/profile.jpg?1443773397","large":"http://mission-artists-acceptance.s3.amazonaws.com/[...]
